.time{
  display: flex;
  justify-content: center;
}
.timeText{
  display: flex;
  justify-content: center;
}
.timerSepa{
  margin-left: 1%;
}
.timerM{margin-left: 2%;}
.timerS{margin-left: 2%;}
.Hour , .Minute,.Second{margin-left: 2%;}